// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #3b82f6;
  --ion-color-secondary: #0ea5e9;
  --ion-color-tertiary: #6366f1;

  --ion-font-family: 'Segoe UI', sans-serif;

  --ion-text-color: #1e293b;
  --ion-background-color: #f8fafc;
}

